*.DotSettings
*.ncrunchsolution
nCrunchTemp*
*.donotcheckin
*.suo
*.user
bin/
csx/
Bin/
obj/
*.Tests/lib/
packages/
instrumented/
*.lnk
TestResults/
_ReSharper.*/
*.vsp
buildlog.txt
.DS_Store
._.DS_Store
_NCrunch_*/
*.ncrunchproject
*.ReSharper
Artifacts
*.psess
