*.DotSettings
*.ncrunchsolution
nCrunchTemp*
*.donotcheckin
*.suo
*.user
.vscode/
bin/
csx/
Bin/
obj/
.vscode/
*.Tests/lib/
packages/
instrumented/
*.lnk
TestResults/
_ReSharper.*/
*.vsp
buildlog.txt
.DS_Store
._.DS_Store
_NCrunch_*/
*.ncrunchproject
*.ReSharper
Artifacts
*.psess
*.xml
*.log
*.nupkg